@charset "UTF-8";
:root {
    --primary: hsl(0, 0%, 100%);
    --footer-bg: hsl(240, 10%, 16%);
    --footer-text: hsl(240, 2%, 79%);
    --background: #fafafa;
    --cta-hover: hsl(355, 100%, 74%);
    --cta-text: hsl(356, 100%, 66%);
    --headings: hsl(208, 49%, 24%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* background-image: url(../../design/desktop-design.jpg);
  background-size: 100%;
  background-repeat: no-repeat; */
    font-size: 16px;
    font-family: "Ubuntu" sans-serif;
    box-sizing: border-box;
    width: 100%;
    /* background: var(--background); */
}